<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h2>Edit user</h2>
<div>

    <form th:action="@{/users/edit}" th:object="${user}" method="post">
        <input type="hidden" name="id" th:value="${user.getId()}">
        <fieldset>
            <legend>User data</legend>
            <p>
                <label th:for="name">Name</label>
                <label>
                    <input type="text" name="name" th:id="name" th:value="${user.getName()}">
                </label>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <p>
                <label th:for="lastName">Lastname</label>
                <label>
                    <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}">
                </label><br/>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            <p>
                <label th:for="email">Email</label>
                <label>
                    <input type="text" name="email" th:id="email" th:value="${user.getEmail()}">
                </label><br/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <br>
            <br>
        </fieldset>
        <button type="submit">Update</button>
    </form>


    <br/>
    <form th:action="@{/}">
        <button type="submit">Back to user list</button>
    </form>
</div>
</body>
</html>